@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,500&family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0rem;
    border: 0rem;
    padding:0rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
}

/* Nav bar */

    #navbar {
        background-color: rgba(27,27,27,1);
    }

    #navbar ul {
        list-style: none;
    }

    #navbar ul a {
        color: #fff;
        text-decoration: none;
        font-style: none;
        font-family: sans-serif
    }

/* Apresentação */

    #inicio {
        background-color: #fff;
    }

    #inicio h1 {
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
        color:black;
    }

    #inicio p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color:rgb(0, 0, 0);
    }

    #inicio img {
        border-radius: 5%;
    }
/* Projetos */

    #projetos {
        background-color: rgba(225,223,219,1);
    }

    #projetos h2 {
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
        color:black;
    }

    .projeto h3 {
        font-family: 'Roboto Mono', monospace;
        font-weight: 300;
    }

    .projeto img {
        border-radius: 5%;
    }

    .projeto p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

/* Redes */

    #redes h2 {
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
        color:black;
    }

    #redes ul {
        list-style-type:none;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

    #redes ul a {
        color:black
    }

    #redes .email a {
        color: black;
    }

    /* Footer */

    #footer {
        background-color: rgba(225,223,219,1);
        border-top: solid 0.2rem rgba(0, 0, 0, 0.5) ;
    }
    
    #footer h3 {
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
        font-size: small;
    }

    #footer div {
        font-size: small;
    }

    #footer a {
        font-size: small;
        text-decoration: none;
        color: black;
        font-style: italic;
        font-weight: bold;
        font-family: 'Roboto', sans-serif ;
    }

/* Celular media */

    @media all and (max-width: 767px) {
   
    /* Nav Bar */

    #navbar ul {
        display: flex;
        text-align: center;
        padding: 2rem 0 2rem;
    }

    #navbar a {
        padding: 2rem;
        text-align: center;
        font-size: 1.7rem;
    }

   /* Apresentação */

    #inicio {
        margin: 3.5rem; 
    }
    
    #inicio h1 {
        display: block;
        font-size: 3.5rem;
    }

    #inicio p {
        margin-top: 4.5rem;
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }

    #inicio .seg-p {
        margin-top:2.5rem;
        font-size: 1.8rem;
    }

    #inicio img {
        display: block;
        max-width: 95%;
        margin: auto;
    }

    /* Projetos */

    #projetos {
        padding: 3.5rem;
    }

    #projetos h2 {
        text-align: center;
        margin-bottom: 3.5rem;
    }

    .projeto img {
        max-width: 95%;
        margin: auto;
    }

    .projeto h3 {
        margin-top: 4.5rem;
        text-align: center;
        margin-bottom: 2.5rem;
        font-size: 2.5rem;
    }
    
    .projeto p {
        font-size:1.75rem;
        margin-bottom: 2.25rem;
    }


    /* Redes Sociais */

    #redes {
        margin-top: 2.25rem;
    }
    
    #redes h2 {
        text-align: center;
        margin-bottom: 2.5rem;
    }

    #redes ul {
        font-size: 1.9rem;
        margin-left: 1.5rem;
    }

    #redes ul li {
        margin-top: 1.5rem;
    }

    #redes .icone {
        width: 2.5rem;
    }

    #redes .email {
        margin-top: 2.5rem;
        text-align: center;
    }

    #redes .email p {
        margin-top: 1rem;
        margin-bottom: 4.5rem;
    }

    /* Footer */

    #footer {
        text-align: center;
    }
}

/* Tablet & Celular grandes*/
    @media all and (min-width: 768px) and (max-width: 1024px) {

        /* Nav Bar */

        #navbar ul {
            display: flex;
            justify-content: space-evenly;
            padding: 2rem 0 2rem;
        }

        #navbar a {
            font-size: 1.7rem;
            padding: 2rem 1.25rem 2rem ;
        }

        #navbar a:hover {
            background-color: rgba(102, 102, 102, 0.445);
            transition: all 300ms ease-in-out;
        }

        /* Apresentação */

        #inicio {
            margin: 3.5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        #inicio h1 {
            font-size: 3.5rem;
        }

        #inicio p {
            margin-top: 4.5rem;
            font-size: 2rem;
            margin-bottom: 2.5rem;
            max-width: 450px;
        }

        #inicio .seg-p {
            margin-top:2.5rem;
            font-size: 1.8rem;
        }

        #inicio img {
            margin:auto;
            max-width: 40%;
            height: 50%;
            padding: 1rem;
        }

        /* PROJETOS */

        #projetos h2 {
            display: block;
            padding-top: 3.5rem;
            margin: 3.5rem;
            text-align: center;
            margin-top: 0rem;
        }

        #container-projetos {
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
        }

        #container-projetos .projeto {
            flex: 1 0 256px;
            display: flex;
            flex-direction: column;
            margin: 0 1rem;
            padding: 2rem;
        }

        #container-projetos .projeto h3 {
            text-align: center;
            margin: 2.5rem;
            font-size: 2.3rem;
        }

        #container-projetos .projeto img {
            width: 40rem;
            margin: auto;
        }

        #container-projetos .projeto p {
            padding-bottom: 3.75rem;
        }

        /* REDES SOCIAIS */

        #redes h2 {
            display: block;
            padding-top: 3.5rem;
            margin: 3.5rem;
            text-align: center;
            margin-top: 0rem;
        }

        #redes article {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 2rem;
        }

        #redes article ul  {
            display: flex;
            flex-direction: column;
            margin: 2.5rem;
        }

        #redes .icone {
            max-width: 2rem;
        }

        #redes .email h3 {
            padding-right: 1rem;
        }

        #redes .email {
            padding-bottom: 2.7rem;
        }

        /* FOOTER */

       #footer {
           text-align: center;
       }
    }


    @media all and (min-width: 1025px) {
        /* Nav Bar */

        #navbar {
            margin-bottom: 3.5rem;
        }

        #navbar ul {
            width: 110rem;
            height: 5.5rem;
            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
        }

        #navbar li {
            font-family: 'Roboto Mono', monospace;
            font-weight: 400;
            padding: 1rem 5rem;
        }

        #navbar li:hover {
            background-color: rgba(128, 128, 128, 0.13);
            border-radius: 1rem;
            border-bottom: solid 0.2rem wheat;
            transition: all .5s ease-in-out;
        }
        
        /* Apresentação */

        #inicio {
            display: flex;
            height: 85vh;
        }

        #inicio article {
            margin: 0 2.5rem 2.5rem 2.5rem;
        }

        #inicio h1 {
            font-size: 4rem;
            margin-bottom: 4.5rem;
        }

        #inicio p {
            font-size: 2rem;
        }

        #inicio .seg-p {
            margin-top: 2.5rem;
        }

        #inicio img {
            height: 75%;
            margin-right: 2.5rem;
        }

        #inicio img:hover {
            transition: all .5s ease-in-out;
            box-shadow: 6px 6px 5px 0px #5f5d5d98
        }

        /* Projetos */

        #projetos {
            height: 85vh;
        }

        #projetos h2 {
            display: block;
            padding-top: 3.5rem;
            margin: 3.5rem;
            text-align: center;
            margin-top: 0rem;
        }

        #container-projetos {
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
        }

        #container-projetos .projeto {
            flex: 1 0 25.6rem;
            display: flex;
            flex-direction: column;
            margin: 0 1rem;
            padding: 2rem;
        }

        #container-projetos .projeto h3 {
            text-align: center;
            margin: 2.5rem;
            font-size: 2.3rem;
        }

        #container-projetos .projeto img {
            width: 40rem;
            margin: auto;
        }

        #container-projetos .projeto img:hover {
            transition: all .5s ease-in-out;
            box-shadow: 6px 6px 5px 0px #5f5d5d98
        }

        #container-projetos .projeto p {
            padding-bottom: 3.75rem;
        }

        /* REDES SOCIAIS */

        #redes h2 {
            display: block;
            padding-top: 3.5rem;
            margin: 3.5rem;
            text-align: center;
            margin-top: 0rem;
        }

        #redes article {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 2rem;
        }

        #redes article ul  {
            display: flex;
            flex-direction: column;
            margin: 2.5rem;
        }

        #redes .icone {
            max-width: 2rem;
        }

        #redes .email h3 {
            padding-right: 1rem;
        }

        #redes .email {
            padding-bottom: 2.7rem;
        }
        
        /* FOOTER */

       #footer {
        text-align: center;
        }

        #footer strong a {
            font-style: normal;
        }
    }